.bot-form{
    position: fixed;
    bottom: 0px;
    right: 20px;
    height: 400px;
    width: 300px;
    background-color: #110101;
    background: url(../images/form-background.jpg) center;
    background-size: cover;
    z-index: 20;
    color: #fff;
    /* overflow: auto; */
    border-top-right-radius: 40px;
    border-top-left-radius: 10px;
    transition: all 1s;
}
.bot-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    position: relative;
    top: -10px;
    
}
.bot-img{
    height: 50px;
    width: 50px;
    background: url(../images/bot-nikita.jpg) center;
    background-size: cover;
    border-radius: 50%;
}

.close-bot{
    height: 20px;
    width: 20px;
    background-color: rgb(150, 150, 221);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 4px;
    cursor: pointer;
    background: url(../images/close.jpg) center;
    background-size: cover;

}
.bot-answer{
    font-size: 18px;
}
.bot-name2{
    background-color: #7F1D8D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.bot-content{
    height: 220px;
    width: 280px;
    overflow: auto;
    padding: 10px;
    font-size: 14px;
    line-height: 20px;

}
::-webkit-scrollbar{
    display: none;
}
.bot-massage{
    height: auto;
    word-wrap: break-word;
    float: left;
    background-color:#7F1D8D;
    width: 70%;
    margin-bottom: 20px;
    border-radius: 12px;
    padding: 10px;
}
.bot-inputarea{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.bot-input{
    height: 60px;
    width: 80%;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 5px;
    background-color: #53115C;
    color: #fff;
    opacity: 92%;
    border-bottom: 2px solid rgba(194, 25, 217, 0.63);
}
.bot-btn{
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    outline: none;
    border: none;
    cursor: pointer;
    right: 40px;
    background: url(../images/dino.jpg) center;
    background-size: cover;
}
.help{
    background-color: rgb(33, 99, 66);
}
.show-bot{
    position: fixed;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: royalblue;
    background: url(../images/bot-nikita.jpg) center;
    background-size: cover;
    right: -100px;
    bottom: 100px;
    transition: all 2s;
    cursor: pointer;
}